<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title class="title">Adopt-a-Pet — Pet Finder</title>

  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

  <link href="./css/styleadopt.css" rel="stylesheet">
</head>

<body>

  <ul>

    <div class="navText">
      <li><a class="active" href="index.html">🐾</a></li>
      <li><a class="active" href="ifound.html">I Found a Pet</a></li>
      <li><a class="active" href="ilost.html">I Lost a Pet</a></li>
      <li><a class="active" href="foundDisplay.html">Found Pets List</a></li>
      <li><a class="active" href="lostDisplay.html">Lost Pets List</a></li>
      <li><a class="active orangeHead" href="adopt.html">Adopt-a-Pet</a></li>
      <li><a class="active" href="contact.html">About/FAQ/Contact</a></li>
    </div>


    <div class="login-buttons">
      <button>Login</button>

      <button class="info-button">Info</button>
    </div>

  </ul>



  <div class="container">

      <!-- <div class="col-md-11"> -->

      <div class="adoptContainer">

        <div class="row dogPicture">

          <div class="col-md-12">

            <div class="adoptText">Adopt-a-Pet</div>

          </div>

        </div>

        <!-- Second row, one column -->
        <div class="row">

          <div class="col-md-12">

            <div class="aboutDescrip">

              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
              proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

              <br>
              <br>

              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
              proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

              <br>
              <br>

              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
              proident, sunt in culpa qui officia deserunt mollit anim id est laborum.


            </div>

          </div>

        </div>

  </div>

</div>

</body>


<style media="screen">
  .panel {
    margin-top: 40px;
  }

  body {
 background: url('./images/cork.jpg')
}
</style>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</html>
