<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title class="title">Lost Pet Finder</title>

  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

  <!-- <link rel="stylesheet" href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css"> -->

  <link href="assets/css/style.css" rel="stylesheet">
</head>

<body>

<ul>

  <div class="navText">
    <li><a class="active" href="index.html">🐾</a></li>
    <li><a class="active" href="ifound.html">I Found a Pet</a></li>
    <li><a class="active" href="ilost.html">I Lost a Pet</a></li>
    <li><a class="active" href="lostfoundpets.html">Lost/Found Pets List</a></li>
    <li><a class="active" href="contact.html">About/Contact/FAQ</a></li>
  </div>
</ul>


      <div class="row">

        <div class="col-md-12">

          <div class="resHead" style="color: white">Lost Pet Finder</div>

        </div>

      </div>

      <div class="row">

        <div class="col-md-12">


          <div class="resText" style="color:white">Fido's gone missing? We've got you covered.</div>


        </div>
      </div>


      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>


      <div class="row buttonPostion">

        <div class="col-md-6">


          <section>
           <a href="ilost.html"><button id="js-trigger-overlay buttonStyle" type="button" </a>I Lost My Pet</button>
          </section>

        </div>

        <div class="col-md-6">

          <section>
           <a href="ilost.html"><button id="js-trigger-overlay buttonStyle" type="button" </a>I Found A Pet</button>
          </section>

        </div>


      </div>

    </div>



  </div>

  <!-- <img class="chicago" src="assets/images/smilingwithdog.jpg"> -->


</body>

</html>
