<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title class="title">Friend Finder Quiz</title>

  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

  <link href="assets/style.css" rel="stylesheet">
</head>

<body>

<ul>
  
  <li><a class="active" href="home.html">Home</a></li>
  <li><a class="active" href="#home">API List</a></li>
  <li><a href="https://github.com/mitchelclow/friendFinder">GitHub Repo</a></li>
</ul>

  <div class="container">

    <div class="jumbotron" style="background:#292828; !important" >

      <div class="row">

        <div class="col-md-12">

          <h1 class="resHead" style="color: white">Friend Finder</h1>
          
        </div>

      </div>

      <hr size= "100">
      
      <div class="row">

        <div class="col-md-12">


          <h3 class="resText" style="color:white">Use our survey to see who your new best friend is!</h3>


        </div>
      </div>


      <br>

      <div class="row">

        <div class="col-md-12">


          <section>
           <a href="quiz.html"><button id="js-trigger-overlay" type="button" </a>Start Quiz</button>
          </section></a>
        </div>

      </div>

    </div>



  </div>

  <img class="chicago" src="assets/images/trees.jpg">


</body>

</html>